@charset "UTF-8";
/*paletaDeColores*/
/*fuente*/
/*tamanioFuente*/
/*Contenedores
  $display= tipo de contenedor
  $direccion= orientación de los elementos de contenedor, fila o columna
  $disposicion= ubicación de los elementos dentro del contenedor
  $alineacion= alineación de los elementos dentro del contenedor, izquierda-centro-derecha*/
/*Botones
  $colorBoton= color del cuerpo del botón
  $tamanioFuente= tamaño del texto del botón
  $colorFuente= color del texto del botón*/
/*Texto
  $colorFuente= color de la fuente
  $tamanioFuente= tamaño de la fuente
  $alineacion= alineación del texto, izquierda-centro-derecha*/
/*Iconos que se comportan como texto
  $colorIcon= color del icono
  $tamanioIcon= tamaño del icono*/
/*Cambios de estilo al aplicarse el hover
  $color= color al que cambiará el texto/icono
  $transformacion= tipo de transformacion
  $transicion= forma y tiempo de ejecución de la transformación*/
/*Bordes para separar elementos
$color= color del borde
$tipo= tipo de borde
$grosor= grosor del borde
$separacion= espacio entre elemmentos y borde*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
header {
  position: sticky;
  top: 0;
  z-index: 100; }

/*Desktop y responsive tablets*/
.navbar {
  background-color: #090503;
  opacity: .9;
  font-size: 1rem;
  color: #e3dfd1 !important;
  border-bottom: #e99348;
  border-bottom-style: solid;
  border-bottom-width: medium;
  padding-bottom: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }
  .navbar .container-fluid .logo, .navbar .container-fluid .logo .navbar-brand {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .navbar .container-fluid .logo .navbar-brand {
      margin-right: 0; }
      .navbar .container-fluid .logo .navbar-brand img {
        padding-right: 10px; }
        .navbar .container-fluid .logo .navbar-brand img:hover {
          color: none;
          transform: scale(1.1);
          transition: all 1s; }
    .navbar .container-fluid .logo .textoLogo h1 {
      width: 190px;
      margin-bottom: 0;
      font-size: 1.6rem;
      line-height: 1;
      font-weight: lighter; }
  .navbar .container-fluid .navbar-toggler {
    border: none;
    color: #e99348;
    font-size: 2rem;
    color: #e99348; }
    .navbar .container-fluid .navbar-toggler:focus {
      box-shadow: none; }
  .navbar .container-fluid .navbar-collapse {
    justify-content: flex-end; }
    .navbar .container-fluid .navbar-collapse .navbar-nav {
      text-align: end; }
      .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link {
        color: #e99348; }
        .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link:hover {
          color: #e3dfd1 !important;
          transform: scale(1.02);
          transition: all 1s; }

/*MEDIAS QUERIES*/
/*Responsive mobile vertical y horizontal*/
@media screen and (max-width: 480px) {
  .navbar .container-fluid .logo .navbar-brand img {
    width: 70%; }
  .navbar .container-fluid .navbar-toggler {
    color: #e99348;
    font-size: 1.5rem; }
  .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link {
    font-size: 0.7rem; } }

/*Desktop*/
footer {
  width: 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #d6cfb5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  footer div {
    padding-left: 5%;
    padding-right: 5%; }
  footer a {
    color: #e99348;
    font-size: 1.2rem; }
    footer a:hover {
      color: #090503;
      transform: scale(1.1);
      transition: all 1s; }
  footer p {
    margin-bottom: 0; }
  footer .logoUpper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: #e99348;
    border-right-style: ridge; }
    footer .logoUpper a:hover {
      color: #090503;
      transform: translate(0, -10px) scale(1.3);
      transition: all 1s; }
    footer .logoUpper img {
      width: 3rem; }
  footer .thanks {
    text-align: center; }
    footer .thanks h3 {
      color: #090503;
      font-size: 1.2rem;
      text-align: center; }
  footer .contact {
    width: 35%;
    border-left: #e99348;
    border-left-style: ridge; }
    footer .contact .eMail {
      padding-bottom: .5rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center; }
    footer .contact .socialMedia {
      border-top: #e99348;
      border-top-style: ridge;
      padding-top: .5rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }

/*MEDIAS QUERIES*/
/*Responsive tablet*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  footer a {
    color: #e99348;
    font-size: 1rem; }
  footer p {
    color: #090503;
    font-size: 0.7rem;
    text-align: center; }
  footer .logoUpper img {
    width: 3rem; }
  footer .thanks h3 {
    color: #090503;
    font-size: 1rem;
    text-align: center; }
  footer .thanks i {
    font-size: 0.7rem; }
  footer .contact {
    width: 35%; } }

/*Responsive tablet pequeña*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    footer div {
      padding-bottom: .5rem; }
    footer p {
      color: #090503;
      font-size: 1rem;
      text-align: center; }
    footer a {
      color: #e99348;
      font-size: 1rem; }
    footer .logoUpper {
      width: 100%;
      border-right-style: none; }
      footer .logoUpper img {
        width: 2.7rem; }
    footer .thanks {
      padding-top: 1rem;
      width: 100%; }
      footer .thanks h3 {
        color: #090503;
        font-size: 1rem;
        text-align: center; }
      footer .thanks i {
        font-size: 1rem; }
    footer .contact {
      padding-top: 1rem;
      width: 60%;
      border-left-style: none;
      padding-bottom: 0; }
      footer .contact .eMail p {
        font-size: 1rem; } }

/*Responsive mobile vertical y horizontal*/
@media screen and (max-width: 480px) {
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    footer div {
      padding-bottom: .5rem; }
    footer p {
      color: #090503;
      font-size: 0.7rem;
      text-align: center; }
    footer a {
      color: #e99348;
      font-size: 1rem; }
    footer .logoUpper {
      width: 100%;
      border-right-style: none; }
      footer .logoUpper img {
        width: 2.5rem; }
    footer .thanks {
      padding-top: 1rem;
      width: 100%; }
      footer .thanks h3 {
        color: #090503;
        font-size: 0.7rem;
        text-align: center; }
      footer .thanks i {
        font-size: 0.7rem; }
    footer .contact {
      padding-top: 1rem;
      width: 70%;
      border-left-style: none;
      padding-bottom: 0; } }

.hero {
  width: 100%;
  border-bottom: #e99348;
  border-bottom-style: solid;
  border-bottom-width: thin;
  padding-bottom: 0rem; }
  .hero img {
    width: 100%; }

.frasesCelebres h3 {
  border-bottom: #e99348;
  border-bottom-style: solid;
  border-bottom-width: thin;
  padding-bottom: 1rem;
  margin-bottom: 0;
  color: #e3dfd1;
  font-size: 1.2rem;
  text-align: left;
  font-weight: lighter;
  padding-left: 2rem; }

.frasesCelebres .frases {
  background: url(../img/CruyffDt.png);
  height: 100%;
  width: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  color: #e3dfd1;
  font-size: 1rem;
  text-align: left;
  padding: 2rem; }
  .frasesCelebres .frases p {
    width: 55%; }

/*.pagina{
    color: $light;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 45% 48%; 
    row-gap: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    grid-template-areas: 
    "portada portada portada"
    "noticias noticias frase";
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center; 
    & .portada{
        grid-area: portada;
        width: 100%;
        height: 100%;
        @include contenedores(flex, row, space-around, center);
        align-content: space-around;
        text-align: center;
        line-height: 2;
        & .itemsportada{
            align-content: space-around;
            align-items: center;
            & h2{
                @include estiloTexto($light, 3rem, center);
                padding-left: 1rem;
                padding-right: 1rem;
            }
            & img{
                object-fit: cover;
                border-radius: 0.25rem;
            }
            & p{
                @extend h2;
                font-size: x-large;
            }
        }
    }
    & .noticias{
        grid-area: noticias;
    }
    & .frase{
        grid-area: frase;
    }
    .notifrase{
        height: 100%;
        @include contenedores(flex, column, space-evenly, center);
        align-content: space-around; 
        & div{
            @include contenedores(flex, column, space-around, center);
            width: 90%;
            height: max-content;
            @include estiloTexto($light, x-large, center);
            & p{
                margin-bottom: 0;
            }
            & img{
                width: 100%;
                border-radius: 0.25rem;
            }
        }
    }
}

responsive mobile 320px vertical 480px horizontal
@media screen and (max-width: 480px) {
    .pagina{
        grid-template-columns: 100%;
        grid-template-rows: 15% 30% 30% 20%; 
        grid-template-areas: 
        "portada"
        "portada"
        "noticias"
        "frase";
        & .portada{    
            flex-direction: column;
            line-height: 1;
            & .itemsportada{
                width: 90%;
                & h2{
                    font-size: x-large;
                }
                & p{
                    font-size: medium;
                }
                & img{
                    width: 60%;
                }
            }    
        }
        & .notifrase div{
            font-size: small;
        }
    }
}*/
/*Desktop y tablet*/
.trayectoria {
  position: relative;
  display: inline-block;
  width: 100%;
  border-bottom: #e99348;
  border-bottom-style: solid;
  border-bottom-width: thin;
  padding-bottom: 0rem; }
  .trayectoria img {
    width: 100%; }
  .trayectoria h2 {
    width: 100%;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: lighter;
    color: #e99348;
    font-size: 1.4rem;
    text-align: center; }

.historia .resumen-homenajes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  color: #e3dfd1;
  font-size: 1rem;
  text-align: left;
  line-height: 2rem; }
  .historia .resumen-homenajes h3 {
    border-bottom: #e99348;
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding-bottom: 1rem;
    color: #e3dfd1;
    font-size: 1.2rem;
    text-align: left;
    font-weight: lighter; }
  .historia .resumen-homenajes p {
    margin-bottom: 0; }
  .historia .resumen-homenajes img {
    width: 100%;
    border-radius: 0.25rem; }

.historia .accordion .accordion-button {
  font-weight: lighter;
  width: 100%;
  background-color: #090503;
  font-size: 1rem;
  color: #e99348; }
  .historia .accordion .accordion-button:hover {
    color: #e3dfd1; }
  .historia .accordion .accordion-button:focus {
    border-color: #e3dfd1;
    box-shadow: none; }
  .historia .accordion .accordion-button:not(.collapsed) {
    color: #090503;
    background-color: #e99348; }
  .historia .accordion .accordion-button:after {
    background-image: none; }

.historia .accordion .accordion-body {
  background-color: #e3dfd1;
  font-size: 1rem;
  color: #090503; }

/*MEDIAS QUERIES*/
/*Responsive tablet pequeña*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .trayectoria h2 {
    font-size: 1.4rem; }
  .historia .resumen-homenajes {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.5rem; }
    .historia .resumen-homenajes h3 {
      font-size: 1rem; }
  .historia .accordion .accordion-button {
    font-size: 1rem; }
  .historia .accordion .accordion-body {
    font-size: 1rem; } }

/*Responsive mobile vertical y horizontal*/
@media screen and (max-width: 480px) {
  .trayectoria h2 {
    font-size: 0.7rem; }
  .historia .resumen-homenajes {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    font-size: 0.7rem;
    line-height: 1rem; }
    .historia .resumen-homenajes h3 {
      font-size: 0.7rem; }
  .historia .accordion .accordion-button {
    font-size: 0.7rem; }
  .historia .accordion .accordion-body {
    font-size: 0.7rem; } }

/*Desktop y tablet*/
.portadaGaleria {
  width: 100%;
  border-bottom: #e99348;
  border-bottom-style: solid;
  border-bottom-width: thin;
  padding-bottom: 0rem; }
  .portadaGaleria img {
    width: 100%; }

.galeria {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "ph1 ph1 ph2 ph2 ph2 ph3" "ph1 ph1 ph4 ph4 ph5 ph5" "ph6 ph6 ph4 ph4 ph8 ph8" "ph9 ph10 ph10 ph7 ph8 ph8" "ph11 ph11 ph12 ph12 ph15 ph15" "ph11 ph11 ph13 ph13 ph15 ph15" "ph14 ph14 ph14 ph16 ph16 ph16" "ph18 ph18 ph18 ph18 ph19 ph19" "ph17 ph17 ph22 ph22 ph22 ph23" "ph17 ph17 ph22 ph22 ph22 ph23" "ph21 ph21 ph21 ph20 ph20 ph20";
  justify-content: space-around;
  align-content: space-around; }
  .galeria div img {
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: 1.25rem; }
  .galeria .ph1 {
    grid-area: ph1; }
  .galeria .ph2 {
    grid-area: ph2; }
  .galeria .ph3 {
    grid-area: ph3; }
  .galeria .ph4 {
    grid-area: ph4; }
  .galeria .ph5 {
    grid-area: ph5; }
  .galeria .ph6 {
    grid-area: ph6; }
  .galeria .ph7 {
    grid-area: ph7; }
  .galeria .ph8 {
    grid-area: ph8; }
  .galeria .ph9 {
    grid-area: ph9; }
  .galeria .ph10 {
    grid-area: ph10; }
  .galeria .ph11 {
    grid-area: ph11; }
  .galeria .ph12 {
    grid-area: ph12; }
  .galeria .ph13 {
    grid-area: ph13; }
  .galeria .ph14 {
    grid-area: ph14; }
  .galeria .ph15 {
    grid-area: ph15; }
  .galeria .ph16 {
    grid-area: ph16; }
  .galeria .ph17 {
    grid-area: ph17; }
  .galeria .ph18 {
    grid-area: ph18; }
  .galeria .ph19 {
    grid-area: ph19; }
  .galeria .ph20 {
    grid-area: ph20; }
  .galeria .ph21 {
    grid-area: ph21; }
  .galeria .ph22 {
    grid-area: ph22; }
  .galeria .ph23 {
    grid-area: ph23; }

/*MEDIAS QUERIES*/
/*Responsive mobile y tablet pequeña*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .galeria {
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "ph2 ph2 ph2" "ph4 ph4 ph4" "ph7 ph19 ph9" "ph5 ph5 ph5" "ph6 ph6 ph6" "ph1 ph1 ph1" "ph14 ph14 ph14" "ph8 ph8 ph8" "ph13 ph13 ph13" "ph10 ph10 ph10" "ph11 ph11 ph11" "ph12 ph12 ph23" "ph15 ph15 ph15" "ph16 ph16 ph16" "ph17 ph17 ph17" "ph18 ph18 ph18" "ph3 ph3 ph3" "ph21 ph21 ph21" "ph22 ph22 ph22" "ph20 ph20 ph20"; } }

/*responsive mobile vertical horizontal y tablet pequeña*/
@media screen and (max-width: 768px) {
  .galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "ph2 ph2 ph2" "ph4 ph4 ph4" "ph7 ph7 ph7" "ph3 ph3 ph3" "ph19 ph19 ph19" "ph5 ph5 ph5" "ph6 ph6 ph6" "ph1 ph1 ph1" "ph14 ph14 ph14" "ph8 ph8 ph8" "ph23 ph23 ph23" "ph13 ph13 ph13" "ph10 ph10 ph10" "ph11 ph11 ph11" "ph12 ph12 ph12" "ph15 ph15 ph15" "ph16 ph16 ph16" "ph17 ph17 ph17" "ph18 ph18 ph18" "ph9 ph9 ph9" "ph21 ph21 ph21" "ph22 ph22 ph22" "ph20 ph20 ph20"; } }

/*Desktop*/
.portadaFans {
  width: 100%;
  border-bottom: #e99348;
  border-bottom-style: solid;
  border-bottom-width: thin;
  padding-bottom: 0rem; }
  .portadaFans img {
    width: 100%; }

.legado {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  color: #e3dfd1;
  font-size: 1rem;
  text-align: left;
  line-height: 2rem; }
  .legado h2 {
    border-bottom: #e99348;
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding-bottom: 1rem;
    margin-bottom: 0;
    color: #e3dfd1;
    font-size: 1.2rem;
    text-align: left;
    font-weight: lighter; }
  .legado p {
    margin-bottom: 0; }
  .legado img {
    width: 100%;
    border-radius: 0.25rem; }

.videos {
  color: #e3dfd1;
  font-size: 1rem;
  text-align: left; }
  .videos h3 {
    color: #e3dfd1;
    font-size: 1.2rem;
    text-align: left;
    font-weight: lighter;
    border-bottom: #e99348;
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding-bottom: 1rem; }

.video {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; }
  .video iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    border: 0; }

.grillafans {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 3rem;
  display: grid;
  row-gap: 1.5rem;
  grid-template-columns: repeat(6, 15%);
  grid-template-rows: auto;
  grid-template-areas: "t1 t1 t1 t1 t1 t1" "w1 w2 w3 w4 w5 w6" "t2 t2 t2 t2 t2 t2" "l0 l1 l2 l3 l4 l5";
  justify-content: space-evenly; }
  .grillafans .titulo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-around;
    color: #e3dfd1;
    font-size: 1.2rem;
    text-align: center;
    font-weight: lighter;
    border-bottom: #e99348;
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding-bottom: 1rem; }
  .grillafans .wallpaper {
    grid-area: t1; }
  .grillafans .sitios {
    grid-area: t2; }
  .grillafans .card {
    border: none; }
    .grillafans .card .card-body {
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      background-color: #e3dfd1; }
      .grillafans .card .card-body h5 {
        color: #090503;
        font-size: 1rem;
        text-align: left; }
      .grillafans .card .card-body .btn {
        background-color: #090503;
        font-size: 0.7rem;
        color: #e99348; }
        .grillafans .card .card-body .btn:focus {
          box-shadow: none; }
        .grillafans .card .card-body .btn:hover {
          color: #e3dfd1;
          transform: scale(1.02);
          transition: all 1s;
          background-color: #e99348; }
  .grillafans .w1 {
    grid-area: w1; }
  .grillafans .w2 {
    grid-area: w2; }
  .grillafans .w3 {
    grid-area: w3; }
  .grillafans .w4 {
    grid-area: w4; }
  .grillafans .w5 {
    grid-area: w5; }
  .grillafans .w6 {
    grid-area: w6; }
  .grillafans .link1 {
    grid-area: l1; }
  .grillafans .link2 {
    grid-area: l2; }
  .grillafans .link3 {
    grid-area: l3; }
  .grillafans .link4 {
    grid-area: l4; }
  .grillafans .enlaces {
    width: 100%;
    transition: all 1s; }
    .grillafans .enlaces a {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      .grillafans .enlaces a img {
        width: 5vw; }
  .grillafans .enlaces:hover {
    transform: scale(1.05, 1.05); }

/*MEDIAS QUERIES*/
/*Responsive tablet*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .legado {
    font-size: 1rem;
    line-height: 1.5rem; }
    .legado h2 {
      font-size: 1rem; }
  .videos {
    font-size: 1rem;
    line-height: 1.5rem; }
    .videos h3 {
      font-size: 1rem; }
  .grillafans {
    gap: 1.5rem;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: auto;
    grid-template-areas: "t1 t1 t1"  "w1 w2 w3" "w4 w5 w6"  "t2 t2 t2" "l1 l2 l3" "l0 l4 l5"; }
    .grillafans .titulo {
      font-size: 1rem; }
    .grillafans .card .card-body .btn {
      font-size: 1rem; }
    .grillafans .enlaces a img {
      width: 10vw; } }

/*Responsive tablet pequeña*/
@media screen and (min-width: 481px) and (max-width: 767px) {
  .legado {
    font-size: 1rem;
    line-height: 1.5rem; }
    .legado h2 {
      font-size: 1rem; }
  .videos {
    font-size: 1rem;
    line-height: 1.5rem; }
    .videos h3 {
      font-size: 1rem; }
  .grillafans {
    gap: 1rem;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: auto;
    grid-template-areas: "t1 t1 t1"  "w1 w2 w3" "w4 w5 w6"  "t2 t2 t2" "l1 l2 l3" "l0 l4 l5"; }
    .grillafans .titulo {
      font-size: 1rem; }
    .grillafans .card .card-body .btn {
      font-size: 1rem; }
    .grillafans .enlaces a img {
      width: 10vw; } }

/*Responsive mobile vertical y horizontal*/
@media screen and (max-width: 480px) {
  .legado {
    font-size: 0.7rem;
    line-height: 1.5rem; }
    .legado h2 {
      font-size: 0.7rem; }
  .videos {
    font-size: 0.7rem;
    line-height: 1.5rem; }
    .videos h3 {
      font-size: 0.7rem; }
  .grillafans {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 47%);
    grid-template-rows: auto;
    grid-template-areas: "t1 t1"  "w1 w2" "w3 w4"  "w5 w6" "t2 t2" "l1 l2" "l3 l4" "l0 l5"; }
    .grillafans .titulo {
      font-size: 0.7rem; }
    .grillafans .card .card-body .btn {
      font-size: 0.7rem; }
    .grillafans .enlaces a img {
      width: 15vw; } }

/*Desktop y tablet*/
.fondoContacto {
  background: url(../img/backGroundContacto.png);
  height: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover; }

.grillacontacto {
  width: 100%;
  display: grid;
  padding-top: 1rem;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  grid-template-areas: "titulo titulo" "foto formulario";
  justify-content: space-evenly;
  justify-items: center;
  column-gap: 2rem; }
  .grillacontacto .titulocontacto {
    grid-area: titulo;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #e99348;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 1rem;
    line-height: 2; }
    .grillacontacto .titulocontacto h2 {
      font-size: 1.4rem;
      font-weight: lighter; }
  .grillacontacto .foto {
    grid-area: foto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center; }
    .grillacontacto .foto img {
      width: 100%;
      max-height: fit-content; }
  .grillacontacto .contacto {
    grid-area: formulario;
    padding: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: none;
    color: #e99348;
    font-size: 1rem;
    text-align: left; }
    .grillacontacto .contacto div .form-control {
      background-color: #e3dfd1; }
      .grillacontacto .contacto div .form-control:focus {
        box-shadow: none; }
    .grillacontacto .contacto .buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem; }
      .grillacontacto .contacto .buttons .btn {
        width: 6rem;
        background-color: #e99348;
        font-size: 1rem;
        color: #090503; }
        .grillacontacto .contacto .buttons .btn:focus {
          box-shadow: none; }
        .grillacontacto .contacto .buttons .btn:hover {
          color: #e3dfd1; }

/*MEDIAS QUERIES*/
/*Responsive tablet pequeña*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .grillacontacto {
    grid-template-columns: 50% 50%;
    column-gap: 1rem; }
    .grillacontacto .titulocontacto {
      font-size: 1rem; }
      .grillacontacto .titulocontacto h2 {
        font-size: 1.2rem; }
    .grillacontacto .foto {
      grid-area: foto; }
      .grillacontacto .foto img {
        width: 90%; }
    .grillacontacto .contacto {
      width: 100%;
      font-size: 1rem;
      padding: 1rem; }
      .grillacontacto .contacto .form-control {
        font-size: 1rem; }
      .grillacontacto .contacto .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 0rem; } }

/*Responsive mobile vertical y horizontal*/
@media screen and (max-width: 480px) {
  .grillacontacto {
    grid-template-columns: 100%;
    grid-template-areas: "titulo" "formulario" "foto"; }
    .grillacontacto .titulocontacto {
      font-size: 0.7rem; }
      .grillacontacto .titulocontacto h2 {
        font-size: 1rem; }
    .grillacontacto .foto {
      grid-area: foto; }
      .grillacontacto .foto img {
        width: 80%; }
    .grillacontacto .contacto {
      width: 100%;
      font-size: 0.7rem; }
      .grillacontacto .contacto .form-control {
        font-size: 0.7rem; }
      .grillacontacto .contacto .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 0rem; }
        .grillacontacto .contacto .buttons .btn {
          width: 5rem;
          font-size: 0.7rem; } }

/*estilo gral para todas las paginas*/
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #090503;
  font-family: "Ubuntu", sans-serif;
  font-weight: lighter; }

/*responsive mobile 300px vertical 480px horizontal*/
@media screen and (max-width: 480px) {
  /*hay elemententos que se eliminan al aplicarse la media mobile*/
  #sacrifice {
    display: none; } }
