/*COLORES*/
/*fuente*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
.header {
  width: 100%;
  height: 100px;
  background-color: #1d1916;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100; }
  .header h1 {
    color: #f0eee7;
    font-size: 70px; }
  .header div {
    height: 100%; }
    .header div img {
      height: 100%; }
  .header .logo:hover {
    transform: scale(1.2);
    transition: all 1.5s; }
  .header .escudo {
    height: 80%; }

/*responsive mobile 320px vertical 480px horizontal*/
@media screen and (max-width: 480px) {
  .header {
    height: 50px; }
    .header .escudo {
      height: 75%; } }

nav {
  height: 50px;
  position: sticky;
  justify-content: space-around;
  justify-items: center;
  z-index: 10; }
  nav .nav-link {
    padding: 0;
    text-decoration: none;
    font-size: 30px; }
    nav .nav-link:hover {
      transition: all 1s;
      color: #f0eee7 !important; }
  nav .sello {
    height: 48px;
    display: flex;
    align-content: center;
    justify-content: space-evenly; }
    nav .sello a img {
      height: 100%; }

.sticky-top {
  top: 100px;
  background-color: #d19628; }

.navbar-nav {
  background-color: #d19628; }

.navbar-toggler {
  border: none; }
  .navbar-toggler:focus {
    box-shadow: none; }

/*responsive mobile 320px vertical 480px horizontal*/
@media screen and (max-width: 480px) {
  nav .nav-link {
    font-size: 20px; }
  nav.sello {
    height: 45px; }
  .sticky-top {
    top: 50px; }
  .navbar {
    padding: 0; } }

footer {
  height: 50px;
  width: 100%;
  background-color: #d19628;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  list-style-type: none;
  z-index: 1;
  position: sticky;
  bottom: 0; }
  footer i {
    font-size: 40px; }
    footer i:hover {
      color: #f0eee7;
      transform: scale(1.1);
      transition: all 1s; }

/*responsive mobile 320px vertical 480px horizontal*/
@media screen and (max-width: 480px) {
  footer {
    height: 45px; }
    footer i {
      font-size: 33px; } }

.pagina {
  height: 1100px;
  color: #f0eee7;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: 45% 45%;
  grid-template-areas: "portada portada portada"
 "noticias noticias frase";
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center; }
  .pagina .portada {
    grid-area: portada;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 2; }
    .pagina .portada .itemsportada {
      align-content: space-around;
      align-items: center; }
      .pagina .portada .itemsportada h2 {
        font-size: 3rem; }
      .pagina .portada .itemsportada img {
        height: 100%; }
      .pagina .portada .itemsportada p {
        font-size: x-large;
        padding-left: 1rem;
        padding-right: 1rem; }
  .pagina .noticias {
    grid-area: noticias; }
  .pagina .frase {
    grid-area: frase; }
  .pagina .notifrase {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    text-align: center; }
    .pagina .notifrase div {
      display: flex;
      flex-direction: column;
      width: 90%;
      height: max-content;
      font-size: medium;
      justify-content: space-around;
      font-size: x-large; }
      .pagina .notifrase div p {
        margin-bottom: 0; }
      .pagina .notifrase div img {
        height: max-content; }

/*responsive mobile 320px vertical 480px horizontal*/
@media screen and (max-width: 480px) {
  .pagina {
    grid-template-columns: 100%;
    grid-template-rows: 15% 30% 30% 20%;
    grid-template-areas: "portada"
 "portada"
 "noticias"
 "frase"; }
    .pagina .portada {
      grid-area: portada;
      flex-direction: column;
      line-height: 1; }
      .pagina .portada .itemsportada {
        width: 90%; }
        .pagina .portada .itemsportada h2 {
          font-size: medium; }
        .pagina .portada .itemsportada p {
          font-size: medium; }
        .pagina .portada .itemsportada img {
          width: 60%; }
    .pagina .noticias {
      grid-area: noticias; }
    .pagina .frase {
      grid-area: frase; }
    .pagina .notifrase div {
      font-size: small; }
      .pagina .notifrase div img {
        height: fit-content;
        max-width: 100%; } }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #1d1916;
  font-family: "Ubuntu", sans-serif; }

.accordion-button {
  background-color: #1d1916;
  color: #d19628; }

.grillatrayectoria {
  display: grid;
  height: 3300px;
  grid-template-columns: 40% 50%;
  grid-template-rows: repeat(6, 15%);
  grid-template-areas: "trayectoria trayectoria"
 "parrafo ajax"
 "parrafo barca"
 "parrafo seleccion"
 "parrafo dt"
 "homenaje homenaje";
  justify-content: space-evenly;
  align-content: space-around;
  color: #f0eee7;
  line-height: 1.4; }

.grillatrayectoria img {
  width: 100%; }

.trayectoria {
  /*grid-area: trayectoria;*/
  color: #f0eee7;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 100%;
  justify-content: space-around; }

.trayectoria img {
  height: 500px; }

.parrafo {
  grid-area: parrafo;
  width: 95%;
  height: 100%; }

.ajax {
  grid-area: ajax; }

.barca {
  grid-area: barca; }

.seleccion {
  grid-area: seleccion; }

.dt {
  grid-area: dt; }

.homenaje {
  grid-area: homenaje; }

.carousel-inner {
  width: fit-content;
  margin-left: 35%; }

.galeria {
  height: 1300px;
  display: grid;
  grid-template-columns: repeat(6, 15%);
  grid-template-rows: repeat(4, 23%);
  grid-template-areas: "ph1 ph1 ph2 ph2 ph2 ph3"
 "ph1 ph1 ph4 ph4 ph5 ph5"
 "ph6 ph6 ph4 ph4 ph8 ph8"
 "ph9 ph10 ph10 ph7 ph8 ph8";
  justify-content: space-around;
  align-content: space-around; }

.galeria div img {
  max-width: 100%;
  max-height: 100%; }

.ph1 {
  grid-area: ph1; }

.ph2 {
  grid-area: ph2; }

.ph3 {
  grid-area: ph3; }

.ph4 {
  grid-area: ph4; }

.ph5 {
  grid-area: ph5; }

.ph6 {
  grid-area: ph6; }

.ph7 {
  grid-area: ph7; }

.ph8 {
  grid-area: ph8; }

.ph9 {
  grid-area: ph9; }

.ph10 {
  grid-area: ph10; }

.grillafans {
  height: 900px;
  display: grid;
  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 10% 50% 30%;
  grid-template-areas: "tit tit tit tit tit tit"
 "wp1 wp1 wp1 wp2 wp2 wp2"
 "link link link link link link";
  justify-content: space-evenly;
  align-content: space-around; }

.grillafans h2 {
  grid-area: tit;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-around;
  align-items: center;
  color: #f0eee7; }

.downloads1 {
  grid-area: wp1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%; }

.downloads1 .wallpaper:hover {
  transform: scale(1.1, 1.1); }

.downloads2 {
  grid-area: wp2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%; }

.downloads2 .wallpaper:hover {
  transform: scale(1.1, 1.1); }

.wallpaper {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-height: 100%;
  transition: all 1s; }

.descarga {
  background-color: #d19628;
  color: #f0eee7;
  height: 10%; }

.descarga:hover {
  background-image: linear-gradient(to left, #d19628, #1d1916); }

.links {
  grid-area: link;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around; }

.enlaces {
  transition: all 1s;
  width: 20%; }

.enlaces:hover {
  transform: scale(1.1, 1.1); }

.grillacontacto {
  width: 100%;
  height: 1100px;
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 20% 70%;
  grid-template-areas: "titulo"
 "formulario";
  justify-content: space-evenly;
  align-content: space-around;
  align-content: space-evenly; }

.titulocontacto {
  grid-area: titulo;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-around;
  align-items: center;
  color: #f0eee7;
  font-size: x-large; }

.contacto {
  grid-area: formulario;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

label {
  font-size: 20px;
  color: #f0eee7;
  text-align: center; }

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif; }

.botonform {
  display: inline-block;
  background-color: #d19628;
  color: #f0eee7;
  width: 35%;
  margin-top: 2%;
  margin-left: 10%; }

.botonform:hover {
  background-image: linear-gradient(to left, #d19628, #1d1916); }

/*responsive mobile 320px vertical 480px horizontal*/
@media screen and (max-width: 480px) {
  #sacrifice {
    display: none; }
  .grillatrayectoria {
    display: grid;
    height: 5350px;
    grid-template-columns: 90%;
    grid-template-rows: 6.5% 60% 6.5% 6.5% 6.5% 6.5% 6.5%;
    grid-template-areas: "trayectoria"
 "parrafo"
 "ajax"
 "barca"
 "seleccion"
 "dt"
 "homenaje";
    justify-content: space-evenly;
    align-content: space-around;
    color: #f0eee7;
    font-size: smaller;
    line-height: 1.45; }
  .trayectoria {
    font-size: x-small; }
  .trayectoria img {
    height: 200px; }
  .galeria {
    height: 2100px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(10, 9.5%);
    grid-template-areas: "ph2 ph2 ph2"
 "ph4 ph4 ph3"
 "ph4 ph4 ph9"
 "ph7 ph5 ph5"
 "ph1 ph1 ph1"
 "ph1 ph1 ph1"
 "ph6 ph6 ph6"
 "ph8 ph8 ph8"
 "ph8 ph8 ph8"
 "ph10 ph10 ph10";
    justify-content: space-around;
    align-content: space-around; }
  .galeria div img {
    width: 100%; }
  .carousel-inner {
    width: 100%;
    margin-left: 0; }
  .carousel-item img {
    height: 330px; }
  .grillafans {
    height: 650px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 7% 33% 33% 13%;
    grid-template-areas: "tit tit tit"
 "wp1 wp1 wp1"
 "wp2 wp2 wp2" 
 "link link link";
    justify-content: space-evenly;
    align-content: space-around; }
  .grillafans h2 {
    grid-area: tit;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-around;
    align-items: center;
    color: #f0eee7;
    font-size: smaller; }
  .downloads1 {
    flex-direction: row; }
  .downloads2 {
    flex-direction: row; }
  .descarga {
    background-color: #d19628;
    color: #f0eee7;
    display: inline-block; }
  .card-body h5 {
    font-size: smaller; }
  .card-body a {
    font-size: xx-small; }
  .titulocontacto {
    grid-area: titulo;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-around;
    align-items: center;
    text-align: center;
    color: #f0eee7;
    font-size: large; }
  .contacto {
    grid-area: formulario;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-around;
    align-items: center; }
  label {
    font-size: small; }
  .form {
    max-width: 100%;
    font-size: smaller; }
  .contacto .itemsportada {
    width: 90%; } }
