@charset "UTF-8";
/*paletaDeColores*/
/*fuente*/
/*$display= tipo de contenedor
  $direccion= orientación de los elementos de contenedor, fila o columna
  $disposicion= ubicación de los elementos dentro del contenedor
  $alineacion= alineación de los elementos dentro del contenedor, izquierda-centro-derecha*/
/*$colorBoton= color del cuerpo del botón
  $tamanioFuente= tamaño del texto del botón
  $colorFuente= color del texto del botón*/
/*$colorFuente= color de la fuente
  $tamanioFuente= tamaño de la fuente
  $alineacion= alineación del texto, izquierda-centro-derecha*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #2b231d;
  position: sticky;
  top: 0;
  z-index: 100; }
  .header h1 {
    color: #ece8da;
    font-size: 5rem;
    text-align: center; }
  .header div {
    height: 100%; }
    .header div img, .header div .trayectoria h2, .trayectoria .header div h2, .header div .trayectoria .pagina .portada .itemsportada p, .trayectoria .pagina .portada .itemsportada .header div p, .header div .pagina .portada .itemsportada .trayectoria p, .pagina .portada .itemsportada .trayectoria .header div p {
      height: 100%; }
  .header .logo:hover {
    transform: scale(1.2);
    transition: all 1.5s; }
  .header .escudo {
    height: 80%; }

/*responsive mobile 320px vertical 480px horizontal*/
@media screen and (max-width: 480px) {
  .header {
    height: 50px; }
    .header .escudo {
      height: 75%; } }

.navbar {
  height: 50px;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 100; }
  .navbar .nav-link {
    padding: 0;
    text-decoration: none;
    font-size: 30px; }
    .navbar .nav-link:hover {
      transition: all 1s;
      color: #ece8da !important; }
  .navbar .sello {
    height: 48px;
    display: flex;
    align-content: center; }
    .navbar .sello a img, .navbar .sello a .trayectoria h2, .trayectoria .navbar .sello a h2, .navbar .sello a .trayectoria .pagina .portada .itemsportada p, .trayectoria .pagina .portada .itemsportada .navbar .sello a p, .navbar .sello a .pagina .portada .itemsportada .trayectoria p, .pagina .portada .itemsportada .trayectoria .navbar .sello a p {
      height: 100%; }

.sticky-top {
  top: 100px;
  background-color: #e99348; }

.navbar-nav {
  background-color: #e99348; }

.navbar-toggler {
  border: none; }
  .navbar-toggler:focus {
    box-shadow: none; }

/*responsive mobile 320px vertical 480px horizontal*/
@media screen and (max-width: 480px) {
  nav .nav-link {
    font-size: 20px; }
  nav.sello {
    height: 45px; }
  .sticky-top {
    top: 50px; }
  .navbar {
    padding: 0; } }

footer {
  height: 50px;
  width: 100%;
  background-color: #e99348;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  list-style-type: none;
  z-index: 1; }
  footer p {
    margin-bottom: 0; }
  footer a {
    color: #2b231d;
    font-size: 40px; }
    footer a:hover {
      color: #ece8da;
      transform: scale(1.1);
      transition: all 1s; }

/*responsive mobile 320px vertical 480px horizontal*/
@media screen and (max-width: 480px) {
  footer {
    height: 45px; }
    footer a {
      font-size: 33px; } }

.pagina {
  color: #ece8da;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: 45% 48%;
  row-gap: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  grid-template-areas: "portada portada portada" "noticias noticias frase";
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center; }
  .pagina .portada {
    grid-area: portada;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    text-align: center;
    line-height: 2; }
    .pagina .portada .itemsportada {
      align-content: space-around;
      align-items: center; }
      .pagina .portada .itemsportada h2, .pagina .portada .itemsportada p {
        color: #ece8da;
        font-size: 3rem;
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem; }
      .pagina .portada .itemsportada img, .pagina .portada .itemsportada .trayectoria h2, .trayectoria .pagina .portada .itemsportada h2, .trayectoria .pagina .portada .itemsportada p, .pagina .portada .itemsportada .trayectoria p {
        object-fit: cover;
        border-radius: 0.25rem; }
      .pagina .portada .itemsportada p {
        font-size: x-large; }
  .pagina .noticias {
    grid-area: noticias; }
  .pagina .frase {
    grid-area: frase; }
  .pagina .notifrase {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around; }
    .pagina .notifrase div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 90%;
      height: max-content;
      color: #ece8da;
      font-size: x-large;
      text-align: center; }
      .pagina .notifrase div p {
        margin-bottom: 0; }
      .pagina .notifrase div img, .pagina .notifrase div .trayectoria h2, .trayectoria .pagina .notifrase div h2, .trayectoria .pagina .notifrase div .portada .itemsportada p, .trayectoria .pagina .portada .itemsportada .notifrase div p, .pagina .notifrase div .portada .itemsportada .trayectoria p, .pagina .portada .itemsportada .trayectoria .notifrase div p {
        width: 100%;
        border-radius: 0.25rem; }

/*responsive mobile 320px vertical 480px horizontal*/
@media screen and (max-width: 480px) {
  .pagina {
    grid-template-columns: 100%;
    grid-template-rows: 15% 30% 30% 20%;
    grid-template-areas: "portada" "portada" "noticias" "frase"; }
    .pagina .portada {
      flex-direction: column;
      line-height: 1; }
      .pagina .portada .itemsportada {
        width: 90%; }
        .pagina .portada .itemsportada h2, .pagina .portada .itemsportada p {
          font-size: x-large; }
        .pagina .portada .itemsportada p {
          font-size: medium; }
        .pagina .portada .itemsportada img, .pagina .portada .itemsportada .trayectoria h2, .trayectoria .pagina .portada .itemsportada h2, .trayectoria .pagina .portada .itemsportada p, .pagina .portada .itemsportada .trayectoria p {
          width: 60%; }
    .pagina .notifrase div {
      font-size: small; } }

.trayectoria {
  color: #ece8da;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .trayectoria img, .trayectoria h2, .trayectoria .pagina .portada .itemsportada p, .pagina .portada .itemsportada .trayectoria p {
    padding: 1rem;
    width: 90%;
    border-radius: 1.5rem; }
  .trayectoria h2, .trayectoria .pagina .portada .itemsportada p, .pagina .portada .itemsportada .trayectoria p {
    color: #ece8da;
    font-size: x-large;
    text-align: center; }

.accordion {
  padding: 2rem; }
  .accordion .accordion-button {
    width: 100%;
    background-color: #2b231d;
    font-size: large;
    color: #e99348; }
    .accordion .accordion-button:hover {
      color: #ece8da; }
    .accordion .accordion-button:focus {
      border-color: #ece8da;
      box-shadow: none; }
    .accordion .accordion-button:not(.collapsed) {
      color: #2b231d;
      background-color: #e99348; }
    .accordion .accordion-button:after {
      background-image: none; }
  .accordion .accordion-body {
    background-color: #ece8da;
    font-size: large;
    color: #2b231d; }

/*responsive mobile 320px vertical 480px horizontal*/
@media screen and (max-width: 480px) {
  .trayectoria h2, .trayectoria .pagina .portada .itemsportada p, .pagina .portada .itemsportada .trayectoria p {
    font-size: medium; } }

.galeria {
  width: 100%;
  display: grid;
  grid-template-columns: fr(6);
  grid-template-rows: fr(4);
  grid-template-areas: "ph1 ph1 ph2 ph2 ph2 ph3" "ph1 ph1 ph4 ph4 ph5 ph5" "ph6 ph6 ph4 ph4 ph8 ph8" "ph9 ph10 ph10 ph7 ph8 ph8";
  justify-content: space-around;
  align-content: space-around; }
  .galeria div img, .galeria div .trayectoria h2, .trayectoria .galeria div h2, .galeria div .trayectoria .pagina .portada .itemsportada p, .trayectoria .pagina .portada .itemsportada .galeria div p, .galeria div .pagina .portada .itemsportada .trayectoria p, .pagina .portada .itemsportada .trayectoria .galeria div p {
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: 1.25rem; }
  .galeria .ph1 {
    grid-area: ph1; }
  .galeria .ph2 {
    grid-area: ph2; }
  .galeria .ph3 {
    grid-area: ph3; }
  .galeria .ph4 {
    grid-area: ph4; }
  .galeria .ph5 {
    grid-area: ph5; }
  .galeria .ph6 {
    grid-area: ph6; }
  .galeria .ph7 {
    grid-area: ph7; }
  .galeria .ph8 {
    grid-area: ph8; }
  .galeria .ph9 {
    grid-area: ph9; }
  .galeria .ph10 {
    grid-area: ph10; }

/*responsive mobile 320px vertical 480px horizontal*/
@media screen and (max-width: 480px) {
  .galeria {
    grid-template-columns: fr(3);
    grid-template-rows: fr(11);
    grid-template-areas: "ph4 ph4 ph4" "ph4 ph4 ph4" "ph2 ph2 ph2" "ph7 ph3 ph9" "ph5 ph5 ph5" "ph6 ph6 ph6" "ph1 ph1 ph1" "ph1 ph1 ph1" "ph8 ph8 ph8" "ph8 ph8 ph8" "ph10 ph10 ph10"; } }

.grillafans {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
  row-gap: 1.5rem;
  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 10vh 85vh 10vh 30vh;
  grid-template-areas: "t1 t1 t1 t1 t1 t1" "w1 w2 w3 w4 w5 w6" "t2 t2 t2 t2 t2 t2" ". l1 l2 l3 l4 .";
  justify-content: space-evenly; }
  .grillafans .titulo, .grillafans h2, .grillafans .pagina .portada .itemsportada p, .pagina .portada .itemsportada .grillafans p, .grillafans h3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    color: #ece8da;
    font-size: 2rem;
    text-align: center; }
  .grillafans h2, .grillafans .pagina .portada .itemsportada p, .pagina .portada .itemsportada .grillafans p {
    grid-area: t1; }
  .grillafans h3 {
    grid-area: t2; }
  .grillafans .card {
    border: none; }
    .grillafans .card .card-body {
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      background-color: #ece8da; }
      .grillafans .card .card-body .btn {
        background-color: #2b231d;
        font-size: large;
        color: #e99348; }
        .grillafans .card .card-body .btn:focus {
          box-shadow: none; }
        .grillafans .card .card-body .btn:hover {
          color: #ece8da; }
  .grillafans .w1 {
    grid-area: w1; }
  .grillafans .w2 {
    grid-area: w2; }
  .grillafans .w3 {
    grid-area: w3; }
  .grillafans .w4 {
    grid-area: w4; }
  .grillafans .w5 {
    grid-area: w5; }
  .grillafans .w6 {
    grid-area: w6; }
  .grillafans .link1 {
    grid-area: l1; }
  .grillafans .link2 {
    grid-area: l2; }
  .grillafans .link3 {
    grid-area: l3; }
  .grillafans .link4 {
    grid-area: l4; }
  .grillafans .enlaces {
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .grillafans .enlaces:hover {
    transform: scale(1.05, 1.05); }

/*responsive mobile 320px vertical 480px horizontal*/
@media screen and (max-width: 480px) {
  .grillafans {
    width: 100%;
    display: grid;
    row-gap: 1rem;
    grid-template-columns: repeat(2, 47%);
    grid-template-rows: 20vh 142vw 142vw 142vw 20vh 50vw 50vw;
    grid-template-areas: "t1 t1"  "w1 w2" "w3 w4"  "w5 w6" "t2 t2" "l1 l2" "l3 l4"; }
    .grillafans .titulo, .grillafans h2, .grillafans .pagina .portada .itemsportada p, .pagina .portada .itemsportada .grillafans p, .grillafans h3 {
      font-size: x-large; }
    .grillafans .card .card-body .btn {
      font-size: medium; } }

.grillacontacto {
  width: 100%;
  display: grid;
  row-gap: 1rem;
  padding-top: 1rem;
  grid-template-columns: 40% 60%;
  grid-template-rows: 20vh 70vh;
  grid-template-areas: "titulo titulo" "foto formulario";
  justify-content: space-evenly;
  justify-items: center; }
  .grillacontacto .titulocontacto {
    grid-area: titulo;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #ece8da;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    line-height: 2; }
  .grillacontacto .foto {
    grid-area: foto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: none; }
  .grillacontacto .contacto {
    grid-area: formulario;
    padding: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: none;
    color: #ece8da;
    font-size: large;
    text-align: start; }
    .grillacontacto .contacto div .form-control {
      background-color: #ece8da; }
      .grillacontacto .contacto div .form-control:focus {
        box-shadow: none; }
    .grillacontacto .contacto .buttons {
      display: flex;
      justify-content: flex-end; }
      .grillacontacto .contacto .buttons .btn {
        margin-left: 1rem;
        width: 20%;
        background-color: #e99348;
        font-size: large;
        color: #2b231d; }
        .grillacontacto .contacto .buttons .btn:focus {
          box-shadow: none; }
        .grillacontacto .contacto .buttons .btn:hover {
          color: #ece8da; }

/*responsive mobile 320px vertical 480px horizontal*/
@media screen and (max-width: 480px) {
  .grillacontacto {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40vh 140vh 60vh;
    grid-template-areas: "titulo" "formulario" "foto";
    font-size: large; }
    .grillacontacto .titulocontacto {
      font-size: large; }
    .grillacontacto .contacto {
      width: 100%;
      font-size: medium; }
      .grillacontacto .contacto .buttons {
        justify-content: space-around;
        justify-items: center; }
        .grillacontacto .contacto .buttons .btn {
          margin-left: 0;
          width: 35%;
          font-size: small; } }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #2b231d;
  font-family: "Ubuntu", sans-serif; }

/*responsive mobile 320px vertical 480px horizontal*/
@media screen and (max-width: 480px) {
  /*hay elemententos que se eliminan al aplicarse la media*/
  #sacrifice {
    display: none; } }
