/*Desktop*/
.hero{
    width: 100%;
    @include estiloBordes($ndl, solid, thin, 0rem);
    & img{
        width: 100%;
    }
}
.home{
    @include contenedores(flex, row, space-around, center);

    .welcome{
        width: 100%;
        @include contenedores(flex, column, space-around, left);
        gap: 3rem;
        padding-top: 2rem;
        padding: 3rem;
        @include estiloTexto($light, $large, left);
        line-height: 2rem;
        & h2{
            @include estiloBordes($ndl, solid, thin, 1rem);
            margin-bottom: 0;
            @include estiloTexto($ndl, $xx-large, left);
            font-weight: bolder;
        }
        & h3{
            @include estiloTexto($ndl, $large, left);
        }
        & p{
            margin-bottom: 0;
        }
        & strong{
            @include estiloTexto($ndl, $x-large, center);
        }
        & .saludo{
            @include estiloTexto($ndl, $xx-large, center);
        }
        & img{
            width: 100%;
            border-radius: 0.25rem;
        }
    }
    & .socialMedia{
        @include contenedores(flex, column, space-between, center);
        gap: 1rem;
        padding: 3rem;
    }
}
.frasesCelebres{
    & h3{
        @include estiloBordes($ndl, solid, thin, 1rem);
        margin-bottom: 0;
        @include estiloTexto($light, $large, left);
        font-weight: lighter;
        padding-left: 2rem;
    }
    & .frases{
        background: url(../img/CruyffDt.png);
        height: 100%;
        width: 100%;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;    
        @include estiloTexto($light, $medium, left);
        padding: 2rem;
        & p{
            width: 55%;
        }
    }
}

/*MEDIAS QUERIES*/
/*Responsive tablet*/
@media screen and (min-width: 481px) and (max-width: 1024px){
    #sacrifice{
        display: none;
    }
    .home{
        @include contenedores(flex, column, space-around, center);
        .welcome{
            font-size: $large;
            line-height: 2rem;
            & h2{
                font-size: $x-large;
            }
            & h3{
                font-size: $large;
            }

            & strong{
                font-size: $large;
            }
            & .saludo{
                font-size: $large;
            }
        }
    }
    .frasesCelebres{
        & h3{
            font-size: $large;
        }
        & .frases{
            & p{
                width: 100%;
            }
        }
    }
}



/*responsive mobile horizontal y vertical*/
@media screen and (max-width: 480px) {
    .home{
        @include contenedores(flex, column, space-around, center);
        .welcome{
            font-size: $small;
            line-height: 2rem;
            & h2{
                font-size: $large;
            }
            & h3{
                font-size: $medium;
            }

            & strong{
                font-size: $medium;
            }
            & .saludo{
                font-size: $medium;
            }
        }
    }
    .frasesCelebres{
        & h3{
            font-size: $large;
        }
        & .frases{
            & p{
                width: 100%;
            }
        }
    }
}
