/*Desktop y tablet*/
.fondoContacto{
    background: url(../img/backGroundContacto.png);
    height: 100%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.grillacontacto{
    width: 100%;
    display: grid;
    padding-top: 1rem;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas: 
    "titulo titulo"
    "foto formulario";
    justify-content: space-evenly;
    justify-items: center;
    column-gap: 2rem;
    & .titulocontacto{
        grid-area: titulo;
        width: 100%;
        @include contenedores(flex, column, space-around, center);
        @include estiloTexto($ndl, $large, center);
        padding-top: 1rem;
        line-height: 2;
        & h2{
            font-size: $x-large;
            font-weight: lighter;
        }
    }
    & .foto{
        grid-area: foto;
        @include contenedores(flex, column, end, center);
        & img{
            width: 100%;
            max-height: fit-content;
        }
    }
    & .contacto{
        grid-area: formulario; 
        padding: 2rem;  
        width: 80%;
        @include contenedores(flex, column, space-evenly, none);
        @include estiloTexto($ndl, $medium, left);
        & div .form-control{
            background-color: $light;
            &:focus {
                box-shadow: none;
            }
        }
        & .buttons{
            @include contenedores(flex, row, flex-end, center);
            gap: 1rem;
            & .btn{
                width: 6rem;
                @include estiloBotones($ndl, $medium, $dark);
                &:focus {
                box-shadow: none;
                }       
                &:hover{
                color: $light;
                }
            }
        }
    }    
}

/*MEDIAS QUERIES*/
/*Responsive tablet pequeña*/
@media screen and (min-width: 481px) and (max-width: 768px){
    .grillacontacto{
        grid-template-columns: 50% 50%;
        column-gap: 1rem;
        & .titulocontacto{
            font-size: $medium;
            & h2{
                font-size: $large;
            }
        }
        & .foto{
            grid-area: foto;
            & img{
                width: 90%;
            }
        }
        & .contacto{
            width: 100%;
            font-size: $medium;
            padding: 1rem;
            & .form-control{
                font-size: $medium;
            }
            & .buttons{
                @include contenedores(flex, row, space-evenly, center);
                gap: 0rem;
            }
        }
    } 
}

/*Responsive mobile vertical y horizontal*/
@media screen and (max-width: 480px){
    .grillacontacto{
        grid-template-columns: 100%;
        grid-template-areas: 
        "titulo"
        "formulario"
        "foto";
        & .titulocontacto{
            font-size: $small;
            & h2{
                font-size: $medium;
            }
        }
        & .foto{
            grid-area: foto;
            & img{
                width: 80%;
            }
        }
        & .contacto{
            width: 100%;
            font-size: $small;
            & .form-control{
                font-size: $small;
            }
            & .buttons{
                @include contenedores(flex, row, space-evenly, center);
                gap: 0rem;
                & .btn{
                    width: 5rem;
                    font-size: $small;
                }
            }
        }
    }    
}