/*Desktop y tablet*/
.trayectoria{
    position: relative;
    display: inline-block;
    width: 100%;
    @include estiloBordes($ndl, solid, thin, 0rem);
    & img{
        width: 100%;
    }
    & h2{
        width: 100%;
        position: absolute;
        top: 7%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: lighter;
        @include estiloTexto($ndl, $x-large, center);
    }    
}
.historia{
    .resumen-homenajes{
        @include contenedores(flex, column, space-between, left);
        gap: 1rem;
        padding-top: 2rem;
        padding-bottom: 3rem;
        @include estiloTexto($light, $medium, left);
        line-height: 2rem;
        & h3{
            @include estiloBordes($ndl, solid, thin, 1rem);
            @include estiloTexto($light, $large, left);
            font-weight: lighter;
        }
        & p{
            margin-bottom: 0;
        }
        & img{
            width: 100%;
            border-radius: 0.25rem;
        }
    }
    .accordion{
        & .accordion-button{
            font-weight: lighter;
            width: 100%;
            @include estiloBotones($dark, $medium, $ndl);
            &:hover{
                color: $light;
            }
            &:focus {
                border-color: $light;
                box-shadow: none;
            }
            &:not(.collapsed) {
                color: $dark;
                background-color: $ndl;
            }
            &:after{
                background-image: none;
            }
        }
        & .accordion-body {
            @include estiloBotones($light, $medium, $dark);
        }
    }
}

/*MEDIAS QUERIES*/
/*Responsive tablet pequeña*/
@media screen and (min-width: 481px) and (max-width: 768px){
    .trayectoria h2{
        font-size: $x-large;
    }
    .historia{
        .resumen-homenajes{
            padding-top: 1.5rem;
            padding-bottom: 2rem;
            font-size: $medium;
            line-height: 1.5rem;
            & h3{
                font-size: $medium;
            }
        }
        .accordion{
            & .accordion-button{
                font-size: $medium; 
            }
            & .accordion-body {
                font-size: $medium; 
            }
        }
    }     
}

/*Responsive mobile vertical y horizontal*/
@media screen and (max-width: 480px){
    .trayectoria h2{
        font-size: $small;
    }
    .historia{
        .resumen-homenajes{
            padding-top: 1rem;
            padding-bottom: 1.5rem;
            font-size: $small;
            line-height: 1rem;
            & h3{
                font-size: $small;
            }
        }
        .accordion{
            & .accordion-button{
                font-size: $small; 
            }
            & .accordion-body {
                font-size: $small; 
            }
        }
    }           
}