
/*$display= tipo de contenedor
  $direccion= orientación de los elementos de contenedor, fila o columna
  $disposicion= ubicación de los elementos dentro del contenedor
  $alineacion= alineación de los elementos dentro del contenedor, izquierda-centro-derecha*/
@mixin contenedores($display, $direccion, $disposicion, $alineacion){
  display: $display;
  flex-direction: $direccion;
  justify-content: $disposicion;
  align-items: $alineacion;
}

/*$colorBoton= color del cuerpo del botón
  $tamanioFuente= tamaño del texto del botón
  $colorFuente= color del texto del botón*/
@mixin estiloBotones($colorBoton, $tamanioFuente, $colorFuente) {
  background-color: $colorBoton;
  font-size: $tamanioFuente;
  color: $colorFuente;
}

/*$colorFuente= color de la fuente
  $tamanioFuente= tamaño de la fuente
  $alineacion= alineación del texto, izquierda-centro-derecha*/
@mixin estiloTitulo($colorFuente, $tamanioFuente, $alineacion) {
  color: $colorFuente;
  font-size: $tamanioFuente;
  text-align: $alineacion;    
}