
/*paletaDeColores*/
$ndl: #e99348;
$dark: #090503;
$light: #e3dfd1;
$lessLight: #d6cfb5;

/*fuente*/
$font: 'Ubuntu', sans-serif;

/*tamanioFuente*/
$small: .7rem;
$medium: 1rem;
$large: 1.2rem;
$x-large: 1.4rem;
$xx-large: 1.6rem;